@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome To Azure For .NET Developers
    </h1>
    <h3>
        We are here to learn about the different Microsoft Azure features and .NET Core
        Development
    </h3>
    <h3>Now this Time its deployed with Visual Studio</h3>
    <h3>Now this Time its deployed with Github CI/CD</h3>
</div>
